#
# SPDX-FileCopyrightText: 2025 René Moll
# SPDX-License-Identifier: CC0-1.0
#

Checks: >
  bugprone-*,

  cert-*,

  concurrency-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,

  hicpp-*,

  misc-*,
  -misc-include-cleaner,

  modernize-*,
  -modernize-use-trailing-return-type,

  performance-*,

  portability-*,

  readability-*,
  -readability-magic-numbers,


WarningsAsErrors: '*'
FormatStyle:      file
UseColor:         true
ExtraArgs:
  - -Wno-unknown-warning-option
  - -Wno-error=unused-command-line-argument
