#
# SPDX-FileCopyrightText: 2025 René Moll
# SPDX-License-Identifier: CC0-1.0
#

#
# Disabled:
#   cppcoreguidelines-owning-memory    -> Generates too much false positives at this time.
#   misc-include-cleaner               -> Does not improves readability w.r.t. system includes.
#   modernize-use-trailing-return-type -> As I do not believe this improves readability.
#

Checks: >
  bugprone-*,

  cert-*,

  concurrency-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,

  hicpp-*,

  misc-*,
  -misc-include-cleaner,

  modernize-*,
  -modernize-use-trailing-return-type,

  performance-*,

  portability-*,

  readability-*,
  -readability-magic-numbers,


WarningsAsErrors: '*'
FormatStyle:      file
UseColor:         true
ExtraArgs:
  - -Wno-unknown-warning-option
  - -Wno-error=unused-command-line-argument
